<ion-card color="primary">
    <ion-card-header>
      <ion-card-title>COVID-19 KEY UPDATES</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Cases Today:</strong> 4690</p>
      <p><strong>Total Cases:</strong> 770793</p>
      <p><strong>Active Cases:</strong> 55313</p>
      <p><strong>Total Recovered:</strong> 695769</p>
      <p><strong>Deaths Today:</strong> 137</p>
      <p><strong>Total Deaths:</strong> 19801</p>
      <p><strong>Tested Today:</strong> 79586</p>
      <p><strong>Total Tested:</strong> 17370146</p>
      <p><strong>Percent Positive:</strong> 4.3%</p>
      <p><strong>People Tested:</strong> 457046</p>
    </ion-card-content>
  </ion-card>